:root{
    --cor-de-fundo:#00060caf;
    --azul:#0f4161;
    background-color;
    --texto-fundo:#081f35;
    --fonte: 'Cascadia Code';
}
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
body{
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-family: var(--fonte)
}
  .image-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

  .image-item {
  text-align: center;
  margin-bottom: 20px;
}

  .image-caption {
  font-weight: bold;
  margin-top: 5px;
}

  img {
  width: 200px;
  height: auto;
}
