:root{
    --cor-de-fundo:#00060caf;
    --azul:#0f4161;
    --texto-fundo:#081f35;
    --fonte: 'Cascadia Code';
}
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
body{
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-family: var(--fonte)
}
  .image-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

  .image-item {
  text-align: center;
  margin-bottom: 20px;
}

  .image-caption {
  font-weight: bold;
  margin-top: 5px;
}

  img {
  width: 200px;
  height: auto;
}
  body {
  margin: 0;
  background-size: cover;
  color: white;
}

  .overlay {
  background-color: rgba(0, 0, 0, 0.5);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

  .titulo-destaque {
  background-color: rgba(54, 146, 54, 0.8);
  padding: 2rem 3rem;
  border-radius: 15px;
  box-shadow: 0 0 20px #000;
  max-width: 600px;
}

  .titulo-destaque h1 {
font-size: 3rem;
margin: 0;
text-shadow: 2px 2px 5px #000;
}

  .titulo-destaque p {
  font-size: 1.2rem;
  margin-top: 1rem;
}
@media (max-width: 600px) {
   .titulo-destaque h1 {
    font-size: 2rem;
}

  .titulo-destaque {
  padding: 1.5rem 2rem;
 }
}